# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (too large for GitHub)
data/

# Saved models (too large for GitHub)
models/

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
